.quantityPicker {
  display: flex;
  .controlIcon {
    background-color: rgba(226, 226, 226, 0.5);
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.3s ease;
    &:focus {
      outline: none;
    }

    &:hover {
      opacity: 0.7;
    }
  }
  .withUpdate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .quantityInput {
      padding: 5px;
      height: 35px;
      width: 100px;
      text-align: center;
      border: thin solid rgb(226, 226, 226);
      border-radius: 5px;
      margin: 0px 5px;
      margin-bottom: 5px;
      display: block;

      &:focus {
        outline: none;
      }
    }

    .updateButton {
      background: #788193;
      border: none;
      color: #fff;
      padding: 3px 7px;
      font-size: 12px;
      border-radius: 3px;
      font-weight: 500;
      transition: 0.3s ease;
      cursor: pointer;
      &:focus {
        outline: none;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
