.card {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s ease;

  &:hover {
    box-shadow: 0px 10px 20px rgba(204, 204, 204, 0.3);
  }
}

.body,
.image,
.price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: 160px;
  width: 100%;
  img {
    max-height: 120px;
  }
}

.body {
  padding: 20px;
  text-align: center;
  flex-direction: column;
  .name {
    color: rgb(46, 46, 46);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .price {
    margin-top: 15px;
    .discounted {
      // background-color: rgb(243, 51, 97);
      padding: 1px 7px;
      color: rgb(243, 51, 97);
      border-radius: 10px;
      margin-right: 10px;
      font-weight: 600;
      font-size: 14px;
    }

    .realPrice {
      text-decoration: line-through;
      color: rgba(46, 46, 46, 0.5);
      font-size: 14px;
    }
  }

  .footer {
    margin-top: 20px;
    .button {
      background-color: rgb(243, 51, 97);
      border-radius: 5px;
      border: thin solid rgb(243, 51, 97);
      color: #fff;
      cursor: pointer;
      padding: 7px 10px;
      font-size: 14px;
      transition: 0.3s ease;

      &:hover {
        background-color: #fff;
        color: rgb(243, 51, 97);
      }
    }
  }
}
