.productContainer {
  margin-top: 20px;
  padding: 20px;

  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
    padding: 15px 10px;
    flex-direction: column;

    h2 {
      font-weight: 700;
      color: #000;
      text-transform: uppercase;
      font-size: 24px;
      margin-right: 5px;
      font-family: 'Julius Sans One', sans-serif;
    }

    span {
      font-size: 14px;
      font-family: 'Julius Sans One', sans-serif;
      font-weight: 500;

      &.bold {
        font-weight: 700;
      }
    }
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.loading {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
