.footer {
  background-color: #000;

  padding: 5px;
  color: #fafafa;
  font-size: 14px;
}

.footerDiv {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 56px;
}
